<h1>New Category</h1>

<% @category.errors.messages.each do |name, message| %>
    <p class="bg-danger"><%= name %> <%= message.first %></p>
<% end %>

<%= form_tag '/categories' do %>
    <%= render 'form' %>
<% end %>