<h1>Edit Product</h1>

<% @product.errors.messages.each do |name, message| %>
    <p class="bg-danger"><%= name %> <%= message.first %></p>
<% end %>

<%= form_tag "/products/#{@product.id}", method: :put do %>
    <%= render 'form' %>
<% end %>